# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Editor configs
.vscode/
.idea/

# Native directories
android/
ios/

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# NativeWind
# I'm not sure if this is needed, but it seems to be a common practice to ignore this file.
nativewind-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# env files
.env
.env.*

# typescript
*.tsbuildinfo

app-example
